.title {
  text-align: center;
}

.food-item {
  display: flex;
  border-bottom: rgb(194, 191, 191) 1px solid;
  justify-content: space-between;
}

.card {
  padding: 3rem;
  border: black 1px solid;
  margin: 0 3rem;
  margin-top: 3rem;
}